server:
  port: 8082

spring:
  application:
    name: GRIEVANCE-SERVICE

  datasource:
    url: jdbc:mysql://localhost:3306/grievance_main?createDatabaseIfNotExist=true
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate.ddl-auto: update
    show-sql: true
    properties.hibernate:
      dialect: org.hibernate.dialect.MySQL8Dialect
      format_sql: true

  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

internal:
  service:
    token: GRIEVANCE_INTERNAL_TOKEN_123

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8000/eureka/
