server:
  port: 8083

spring:
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USERNAME:arookrishna@gmail.com}
    password: ${MAIL_PASSWORD:aewmgomqnvptocdr}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
          connectiontimeout: 5000
          timeout: 3000
          writetimeout: 5000

  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

logging:
  level:
    com.grievance.notification: DEBUG
    org.springframework.mail: DEBUG
    org.springframework.amqp: DEBUG

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8000/eureka/